* {
	margin: 0;
}
html {
	background: #222;
	height: 100%;
}
body {
	height: 100%;
	font-family: Roboto, Oxygen, Ubuntu, sans-serif;
}
#app, main {
}
h1, h2, h3, p, li, label{
	color: rgb(160,180,190);
}
h1 {
	font-size: 1.6em;
	display: inline-block;
	margin: auto;
	padding-left: .75em;
	vertical-align: top;
	font-family: "Brush Script MT", cursive;
	color: rgb(130,180,240);
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.8em;
}
p {
	font-size: 1.5em;
}
h3, p {
	margin: 1em;
}
h2,p,li,label,h3 {
	text-align: center;
}
hr {
	margin-bottom: .5em;
	color: rgb(160,180,190);
}
#content {
	margin: 1em;
	margin-left: 14em;
	margin-top: 0;
	border-radius: 2em;
	height: 100%;
	padding: 1em;
	padding-bottom: 2em;
	background: rgba(0,0,0,.5);
}
.images {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.popupImage {
	width: 100%;
}
button {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.image_text {
	font-size: 1em;
}
/* Title */
header {
	position: sticky;
	border-bottom: solid 1px;
	border-color: rgb(160,180,190);
	top: 0;
}
.mylogo {
	padding: 1em;
	padding-bottom: 0;
	display: block;
	width: 160px;
}
#title {
	background: #222;
	display: inline-block;
	width: 100%;
}
.logo {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;
}
/* Navbar */
#navbar {
	display: block;
	width: 12em;
	margin-right: 0;
	padding-left: .5em;
	padding-top: .5em;
	padding-right: .5em;
	border-right: solid 1px;
	border-color: rgb(160,180,190);
	height: 100%;
	position: fixed;
}
#navbar h2 {
	text-align: center;
}
#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navbar ul li {
	text-align: center;
	display: block;
	padding: 1%;
	padding-top: 8px;
	font-size: 1.3em;
}
#navbar ul li:hover {
	background-color: rgb(130,180,240);
	border-radius: 9px;
	color: #222;
}
/* Form */
label {
	position: relative;
	display: inline-block;
	width: 38%;
	margin: 1%;
	text-align: right;
}
input {
	position: relative;
	width: 20%;
	margin-right: 29%;
	background-color: #999;
	display: inline-block;
}
textarea {
	background-color: #999;
	display: inline-block;
	width: 20%;
	height: 15em;
}
input:focus, textarea:focus {
	background-color: rgb(130,180,240);
}
#submit {
	display: block;
	clear: both;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 8em;
}
